name: Botni Uyg'oq Saqlash

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  ping_site:
    runs-on: ubuntu-latest
    steps:
      - name: Saytga so'rov yuborish
        run: curl -
        
